[submodule "crazyflie_sim/src/crazyflie_interfaces"]
	path = crazyflie_sim/src/crazyflie_interfaces
	url = https://github.com/vinzenzm/crazyflie_interfaces
[submodule "crazyflie_interfaces"]
	path = crazyflie_interfaces
	url = https://github.com/vinzenzm/crazyflie_interfaces
